.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 2rem;
  color: white;
  margin-top: 2rem;

  &-image {
    height: 15rem;
    border-radius: 10px;
  }

  &-text {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  h1 {
    font-size: 4rem;
  }

  &-links {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

    a {
      color: var(--accent-color);
      svg {
        font-size: 3rem;
        cursor: pointer;
      }
    }
  }
}
